#******************* Tempory ********************
UTIL\index_make.html
*.pyc
#******************** Output ********************
release-builds
*.ewa
#******************* Archives *******************
*.rar
*.tar
*.7z
*.zip
*.arj
*.cab
*.lzh
#**************** Node and yarn *****************
/node_modules
yarn-error.log
yarn.lock
